In [1]:
import csv
import pandas as pd
from pathlib import Path

In [2]:
budget = Path("Resources/budget_data.csv")

In [3]:
df = pd.read_csv(budget)
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [4]:
total_months = 0
month_of_change = []
net_change_list = []
total_net = 0

In [5]:
with open(budget, 'r') as financial_analysis: 
    reader = csv.reader(financial_analysis)
    head = next(reader)
    first_row = next(reader)
    total_months = total_months + 1
    total_net = int(first_row[1])
    prev_net = int(first_row[1])
    
    for row in reader :
        total_months = total_months + 1
        total_net = total_net + int(row[1])
        net_change = int(row[1]) - prev_net
        prev_net = int(row[1]) 
        #net_change_list = net_change_list + [net_change]
        
average_change = round(total_net/total_months,2)

In [6]:
output_Path = 'output.txt'
with open(output_Path, "w") as file :
    file.write(f"total months: {total_months}\n")
    file.write(f"average change: {average_change}\n")
    file.write(f"total net: {total_net}\n") 
    file.write(f"net change: {net_change}\n")
    file.write(f"prev net: {prev_net}\n")